@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: "Josefin Sans", sans-serif;
}

body {
  height: 100vh;
  background-color: rgba(50, 13, 195, 1);
  color: white;
}

.social-icons {
  width: 20px;
  height: 20px;
  color: rgb(255, 195, 80);

}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  border-radius: 5px;
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 8px;
  border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #fff;
  border: 2px solid rgb(255, 195, 80);
  border-radius: 50%;
  cursor: pointer;
  margin-top: -6px;
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #fff;
  border: 2px solid rgb(255, 195, 80);
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"]::-ms-thumb {
  width: 20px;
  height: 20px;
  background: #fff;
  border: 2px solid rgb(255, 195, 80);
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 8px;
  border-color: transparent;
  background: transparent;
  color: transparent;
}

input[type="range"]::-ms-fill-lower {
  background: rgb(255, 195, 80);
  border-radius: 5px;
}

input[type="range"]::-ms-fill-upper {
  background: #d3d3d3;
  border-radius: 5px;
}

input[type="range"]:nth-of-type(1) {
  background: linear-gradient(to right, rgb(255, 195, 80) 80%, #d3d3d3 80%);
}

input[type="range"]:nth-of-type(2) {
  background: linear-gradient(to right, rgb(255, 195, 80) 85%, #d3d3d3 85%);
}

input[type="range"]:nth-of-type(3) {
  background: linear-gradient(to right, rgb(255, 195, 80) 70%, #d3d3d3 70%);
}

input[type="range"]:nth-of-type(4) {
  background: linear-gradient(to right, rgb(255, 195, 80) 90%, #d3d3d3 90%);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


.main-div {
  background-image: url(tasbeeh-bg.png);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid white;
}